:root, [data-bs-theme=light] {
  --hb-post-background: rgba(255, 255, 255, 0.8);
  --hb-overlay-background: rgba(255, 255, 255, 0.6);
}

@if $enable-dark-mode {
  @include color-mode(dark, true) {
    --hb-post-background: rgba(255, 255, 255, 0.1);
    --hb-overlay-background: rgba(0, 0, 0, 0.6);
  }
}

.card {
  background-color: var(--hb-post-background);
  border-radius: 0.5rem;
}

@if $enable-dark-mode {
  @include color-mode(dark) {
    .dropdown-menu {
      --#{$prefix}dropdown-link-color: var(--#{$prefix}gray-300);
      --#{$prefix}dropdown-link-hover-color: var(--#{$prefix}gray-400);
      --#{$prefix}dropdown-link-active-color: var(--#{$prefix}gray-500);
    }
  }
}

.form-control {
  background-color: var(--hb-post-background) !important;
}

@if $enable-dark-mode {
  @include color-mode(dark) {
    .thumbnail {
      background-color: var(--#{$prefix}gray-700) !important;;
    }
  }
}

.post-listing {
  margin: 0px !important;
  margin-bottom: 1rem !important;
  background-color: var(--hb-post-background);
  border-radius: 0.5rem;
  padding: 1rem;
  padding-bottom: 0.5rem;
}

.comment {
  margin: 0px !important;
  margin-bottom: 1rem !important;
  background-color: var(--hb-post-background);
  border-radius: 0.5rem;
  padding: 0.5rem;
  padding-right: 1rem;
}

.comment > .comments > .comment {
  margin: 0px !important;
  background: none;
  padding: 0px;
}

.post-listing > .card {
  background: none;
}

.post-listing + hr, .comments + hr {
  display: none;
}

.comments, div > .comments > .comment > .details {
  border: none !important;
}

.details {
  padding: 0.5rem 0px !important;
}

div > .comments > .comment:has(> .details > div > div:only-child) {
  padding-bottom: 0.5rem;
}

.details:has(> div > div:only-child) {
  margin: 0px;
}

@if $enable-dark-mode {
  @include color-mode(dark) {
    .markdown-textarea > div > div > div.bg-light {
      background-color: var(--#{$prefix}gray-900) !important;
    }
  }
}

.mini-overlay {
  background-color: var(--hb-overlay-background);
}
