.card {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.8) !important;
}

.post-listing, .comment {
  margin: 0px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  padding: 16px;
  padding-bottom: 8px;
}

.comment > .comments > .comment {
  background: none;
  padding: 0px;
}

.post-listing > .card {
  background: none;
}

.post-listing + hr {
  display: none;
}

.comments, div > .comments > .comment > .details, .comment:first-child > .details {
  border: none !important;
  padding: 0px !important;
}

.details {
  margin-bottom: 16px;
}

.comment:has(> .details > div > div:only-child) {
  margin: 8px 0px;
}

div > .comments > .comment:has(> .details > div > div:only-child) {
  padding-bottom: 16px;
}

.details:has(> div > div:only-child) {
  margin: 0px;
}
