/* Root variables */

:root, [data-bs-theme="light"] {
  color-scheme: dark;

  @each $color, $value in $theme-colors {
    @if $color == "light" {
    } @else if $color == "dark" {
    } @else {
      --#{$prefix}#{$color}: #{tint-color($value, 40%)};
    }
  }
  @each $color, $value in $theme-colors {
    @if $color == "light" {
    } @else if $color == "dark" {
    } @else {
      --#{$prefix}#{$color}-rgb: #{to-rgb(tint-color($value, 40%))};
    }
  }

  --hb-post-background: rgba(var(--#{$prefix}light-rgb), 0.15);
}

/* Button style overrides */

.btn-group-toggle:has(.btn-outline-secondary) {
  background-color: transparent;
  background-image: linear-gradient(0deg, var(--hb-post-background), var(--hb-post-background));
}

.btn-group-toggle .btn-outline-secondary {
  --#{$prefix}btn-focus-shadow-rgb: var(--#{$prefix}secondary-rgb);

  &.disabled, &:disabled {
    color: var(--#{$prefix}gray) !important;
  }

  &.active, &:active {
    background-color: var(--#{$prefix}black) !important;
    background-image: none !important;
    border-color: transparent !important;
  }

  &:is(:focus, :hover):not(.active, :active) {
    color: var(--#{$prefix}black) !important;
    background-color: var(--#{$prefix}secondary) !important;
  }
}

/* General Bootstrap dark values */

@each $color, $value in $theme-colors {
  @if $color == "light" {
  } @else if $color == "dark" {
  } @else {
    .text-bg-#{$color} {
      color: #{color-contrast(tint-color($value, 40%))} !important;
    }
  }
}

@each $color, $value in $theme-colors {
  @if $color == "light" {
  } @else if $color == "dark" {
  } @else {
    .btn-#{$color} {
      @include button-variant(tint-color($value, 40%), tint-color($value, 40%));
    }
  }
}

@each $color, $value in $theme-colors {
  @if $color == "light" {
  } @else if $color == "dark" {
  } @else {
    .btn-outline-#{$color} {
      @include button-variant(tint-color($value, 40%), tint-color($value, 40%));
    }
  }
}

.form-check-input {
  &:checked {
    background-color: $form-check-input-checked-bg-color-dark;
    border-color: $form-check-input-checked-border-color-dark;

    &[type="checkbox"] {
      @if $enable-gradients {
        --#{$prefix}form-check-bg-image: #{escape-svg($form-check-input-checked-bg-image-dark)}, var(--#{$prefix}gradient);
      } @else {
        --#{$prefix}form-check-bg-image: #{escape-svg($form-check-input-checked-bg-image-dark)};
      }
    }

    &[type="radio"] {
      @if $enable-gradients {
        --#{$prefix}form-check-bg-image: #{escape-svg($form-check-radio-checked-bg-image-dark)}, var(--#{$prefix}gradient);
      } @else {
        --#{$prefix}form-check-bg-image: #{escape-svg($form-check-radio-checked-bg-image-dark)};
      }
    }
  }

  &[type="checkbox"]:indeterminate {
    background-color: $form-check-input-indeterminate-bg-color-dark;
    border-color: $form-check-input-indeterminate-border-color-dark;

    @if $enable-gradients {
      --#{$prefix}form-check-bg-image: #{escape-svg($form-check-input-indeterminate-bg-image-dark)}, var(--#{$prefix}gradient);
    } @else {
      --#{$prefix}form-check-bg-image: #{escape-svg($form-check-input-indeterminate-bg-image-dark)};
    }
  }
}

.nav-tabs {
  --#{$prefix}nav-tabs-border-color: var(--#{$prefix}gray-700);
  --#{$prefix}nav-tabs-link-hover-border-color: var(--#{$prefix}gray-900) var(--#{$prefix}gray-900) var(--#{$prefix}gray-700);
  --#{$prefix}nav-tabs-link-active-color: var(--#{$prefix}gray-300);
  --#{$prefix}nav-tabs-link-active-bg: var(--#{$prefix}gray-900);
  --#{$prefix}nav-tabs-link-active-border-color: var(--#{$prefix}gray-700) var(--#{$prefix}gray-700) var(--#{$prefix}gray-900);
}

.dropdown-menu {
  --#{$prefix}dropdown-link-color: var(--#{$prefix}gray-300);
  --#{$prefix}dropdown-link-hover-color: var(--#{$prefix}gray-400);
  --#{$prefix}dropdown-link-active-color: var(--#{$prefix}black);
  --#{$prefix}dropdown-link-active-bg: #{tint-color($primary, 40%)};
}

.pagination {
  --#{$prefix}pagination-hover-bg: var(--#{$prefix}gray-900);
  --#{$prefix}pagination-hover-border-color: var(--#{$prefix}gray-500);
  --#{$prefix}pagination-focus-bg: var(--#{$prefix}gray-700);
  --#{$prefix}pagination-disabled-bg: var(--#{$prefix}gray-700);
  --#{$prefix}pagination-disabled-border-color: var(--#{$prefix}gray-300);
}

.tooltip {
    --#{$prefix}tooltip-bg: var(--#{$prefix}gray-300);
}

.popover {
  --#{$prefix}popover-header-bg: var(--#{$prefix}gray-900);
}

.breadcrumb {
  --#{$prefix}breadcrumb-bg: var(--#{$prefix}gray-900);
  --#{$prefix}breadcrumb-divider-color: var(--#{$prefix}gray-500); 
  --#{$prefix}breadcrumb-item-active-color: var(--#{$prefix}white);
}

.link-dark {
  color: var(--#{$prefix}gray-100) !important;
  text-decoration-color: var(--#{$prefix}gray-100) !important;

  &:focus, &:hover {
    color: var(--#{$prefix}gray-100) !important;
    text-decoration-color: var(--#{$prefix}gray-100) !important;
  }
}

/* Lemmy additions */

.form-control, .form-select {
  background-color: var(--#{$prefix}body-bg) !important;
}

.thumbnail {
  background-color: var(--#{$prefix}gray-700) !important;
}

.post-title a:visited:not(:hover) {
  color: var(--#{$prefix}gray-500) !important;
}

.post-title a:visited:hover {
  color: var(--#{$prefix}gray-300) !important;
}

.comment > article.mark {
  background-color: var(--#{$prefix}gray-800) !important;
}

.markdown-textarea > div > div > div.bg-light {
  background-color: var(--#{$prefix}gray-900) !important;
}
