.card {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.8) !important;
}

.post-listing {
  margin: 0px !important;
  margin-bottom: 1rem !important;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
  padding: 1rem;
  padding-bottom: 0.5rem;
}

.comment {
  margin: 0px !important;
  margin-bottom: 1rem !important;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
  padding: 0.5rem;
  padding-right: 1rem;
}

.comment > .comments > .comment {
  margin: 0px !important;
  background: none;
  padding: 0px;
}

.post-listing > .card {
  background: none;
}

.post-listing + hr {
  display: none;
}

.comments, div > .comments > .comment > .details {
  border: none !important;
}

.details {
  padding: 0.5rem 0px !important;
}

div > .comments > .comment:has(> .details > div > div:only-child) {
  padding-bottom: 0.5rem;
}

.details:has(> div > div:only-child) {
  margin: 0px;
}
