$white: #eaf1ff;
$gray-100: #dbe3f1;
$gray-200: #cdd5e3;
$gray-300: #bfc7d5;
$gray-400: #b1b9c7;
$gray-500: #a4acb9;
$gray-600: #89919e;
$gray-700: #707884;
$gray-800: #575f6b;
$gray-900: #3f4753;
$black: #29313c;

// fusv-disable
$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
);
// fusv-enable
