$white: #ffeedc;
$gray-100: #f5dfc6;
$gray-200: #e6d1b8;
$gray-300: #d8c3ab;
$gray-400: #cab69e;
$gray-500: #bca891;
$gray-600: #a08e78;
$gray-700: #85745f;
$gray-800: #6b5c48;
$gray-900: #534432;
$black: #3b2e1d;
