$white: #ffecf4;
$gray-100: #f5dce8;
$gray-200: #e7ced9;
$gray-300: #d8c0cb;
$gray-400: #cab2be;
$gray-500: #bca5b0;
$gray-600: #a18b96;
$gray-700: #86717c;
$gray-800: #6c5963;
$gray-900: #53424b;
$black: #3c2c35;

// fusv-disable
$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
);
// fusv-enable
