/* Button style overrides */

.btn-group:not(.btn-group-toggle) .btn-outline-secondary  {
  &.active, &:active {
    color: var(--#{$prefix}black) !important;
  }

  &:is(:focus, :hover):not(.active, :active) {
    color: var(--#{$prefix}black) !important;
  }
}

/* PieFed */

#post_replies .comment .replies {
  border-left-color: var(--#{$prefix}gray-700) !important;
  border-top-color: var(--#{$prefix}gray-700) !important;
}
