/* Button style overrides */

.btn-group:not(.btn-group-toggle):has(.btn-outline-secondary) {
  border-radius: 0.5rem !important;
  background-color: var(--#{$prefix}secondary);
  background-image: none;
  padding: 0.25rem 0;
}

.btn-group:not(.btn-group-toggle) .btn-outline-secondary {
  margin: 0 0.25rem;
  border-radius: 0.5rem !important;
  color: var(--#{$prefix}white);
  background-color: transparent;
  border-color: transparent !important;
  --#{$prefix}btn-padding-y: 0.125rem;
  --#{$prefix}btn-focus-shadow-rgb: var(--#{$prefix}white-rgb);

  &.disabled, &:disabled {
    color: var(--#{$prefix}black) !important;
    background-color: transparent !important;
  }

  &.active, &:active {
    color: var(--#{$prefix}primary) !important;
    background-color: var(--#{$prefix}white) !important;
    background-image: linear-gradient(0deg, var(--hb-post-background), var(--hb-post-background)) !important;
  }

  &:is(:focus, :hover):not(.active, :active) {
    color: var(--#{$prefix}secondary) !important;
    background-color: var(--#{$prefix}white) !important;
  }
}

.btn-group:not(.btn-group-toggle) .btn-primary {
  margin: 0 0.25rem;
  border-radius: 0.5rem !important;
  border-color: transparent !important;
  --#{$prefix}btn-padding-y: 0.125rem;
  --#{$prefix}btn-focus-shadow-rgb: var(--#{$prefix}white-rgb);
}

@if $enable-dark-mode {
  @include color-mode(dark) {
    .btn-group:not(.btn-group-toggle):has(.btn-outline-secondary) {
      background-color: transparent;
      background-image: linear-gradient(0deg, var(--hb-post-background), var(--hb-post-background));
    }

    .btn-group:not(.btn-group-toggle) .btn-outline-secondary {
      --#{$prefix}btn-focus-shadow-rgb: var(--#{$prefix}secondary-rgb);

      &.disabled, &:disabled {
        color: var(--#{$prefix}gray) !important;
      }

      &.active, &:active {
        background-color: var(--#{$prefix}black) !important;
        background-image: none !important;
        border-color: transparent !important;
      }

      &:is(:focus, :hover):not(.active, :active) {
        color: var(--#{$prefix}black) !important;
        background-color: var(--#{$prefix}secondary) !important;
      }
    }
  }
}

/* PieFed */

div.navbar {
  background-color: var(--#{$prefix}body-bg);
  background-image: linear-gradient(0deg, var(--hb-post-background), var(--hb-post-background));
  border-bottom-color: transparent;
}

.card .list-group-item {
  background: none;
  border: none;
}

.breadcrumb {
  --#{$prefix}breadcrumb-bg: transparent;
}

.main_pane {
  border: none;
}

#home_announcement {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0.5rem;
  border: none !important;
  background-color: var(--hb-post-background);
  border-radius: 0.5rem;
}

@include media-breakpoint-down(sm) {
  #home_announcement {
    margin: 0 -0.75rem 0.5rem !important;
    border-radius: 0;
  }
}

.post_teaser, .post_col, .topics_list {
  margin: 0 !important;
  margin-bottom: 1rem !important;
  border: none !important;
  background-color: var(--hb-post-background);
  border-radius: 0.5rem;
  padding: 1rem;
}

.post_col {
  margin: -8px 0.75rem 1rem !important;
}

.topics_list {
  padding-bottom: 0;
}

@include media-breakpoint-down(sm) {
  .post_teaser, .topics_list {
    margin: 0 -0.75rem 0.5rem !important;
    border-radius: 0;
  }

  .post_col {
    margin: 0 0 0.5rem !important;
    border-radius: 0;
  }
}

.post_teaser .thumbnail {
  background-color: transparent !important;
}

#post_replies .comment {
  border: none;
  padding: 1rem;
  padding-bottom: 0;
}

#post_replies .comment .comment {
  background: none;
  padding-right: 0;
}

#post_replies .comment .replies {
  border-left-color: var(--#{$prefix}gray-300) !important;
  border-top-color: var(--#{$prefix}gray-300) !important;
}

@if $enable-dark-mode {
  @include color-mode(dark, true) {
    #post_replies .comment .replies {
      border-left-color: var(--#{$prefix}gray-700) !important;
      border-top-color: var(--#{$prefix}gray-700) !important;
    }
  }
}

#post_replies .replies .comment {
  margin-right: 0 !important;
}

@include media-breakpoint-down(sm) {
  #post_replies > div > .comments > .comment {
    margin: 0 -0.75rem 0.5rem !important;
    border-radius: 0;
  }
}

.voting_buttons div {
  border-color: var(--#{$prefix}primary);
}

.voting_buttons_new .upvote_button, .voting_buttons_new .downvote_button {
  color: var(--#{$prefix}info);
}

.voting_buttons .upvote_button.voted_up, .voting_buttons .downvote_button.voted_up {
  color: var(--#{$prefix}success);
}

.voting_buttons .upvote_button.voted_down, .voting_buttons .downvote_button.voted_down {
  color: var(--#{$prefix}danger);
}

@include media-breakpoint-down(md) {
  .post_options_link {
    right: 0px;
  }

  .comment_actions_link {
    right: -15px;
  }
}

#outer_container a:not(.btn):active, footer a:not(.btn):active {
  border-color: var(--#{$prefix}primary);
}

.post_reply_form .form-check {
  bottom: 0.25rem;
}

.form-check .form-check-input {
  top: -2px;
}
