$min-contrast-ratio: 2.5;
$light-bg-subtle: $gray-100;
$dark-bg-subtle: $gray-500;
$light-border-subtle: $gray-300;
$dark-border-subtle: $gray-700;
$body-color: $black;
$body-secondary-bg: $gray-300;
$link-decoration: none;
$link-shade-percentage: 20%;
$border-color: $gray-700;
$font-family-sans-serif: "IBM Plex Sans JP", "M PLUS 2", "M PLUS 1", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "Meiryo", "Source Han Sans VF", "Source Han Sans", "MS PGothic", "Osaka", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Verdana", "Ubuntu", "Cantarell", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: "HackGen", "PlemolJP", "UDEV Gothic", "Sarasa Mono J", "M PLUS 1 Code", "Source Han Sans HW VF", "Source Han Sans HW", "MS Gothic", "Osaka-Mono", "IPAGothic", monospace;
$font-size-root: 93.75%;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$text-muted: $gray-700;
$blockquote-footer-color: $gray-500;
$mark-color: $black;
$mark-bg: #f1e580;
$table-border-factor: 0.7;
$btn-link-disabled-color: $gray-700;
$input-color: $primary;
$input-disabled-bg: $gray-300;
$input-border-color: $gray-700;
$input-placeholder-color: $gray-500;
$input-group-addon-bg: $gray-300;
$form-select-disabled-color: $gray-500;
$form-select-disabled-bg: $gray-300;
$form-select-indicator-color: $gray-700;
$form-floating-label-disabled-color: $gray-500;
$nav-link-disabled-color: $gray-500;
$nav-tabs-border-color: $gray-700;
$nav-tabs-link-hover-border-color: $gray-500 $gray-500 $nav-tabs-border-color;
$nav-tabs-link-active-bg: $white;
$nav-tabs-link-active-border-color: $gray-700 $gray-700 $nav-tabs-link-active-bg;
$dropdown-divider-bg: $gray-500;
$dropdown-link-color: $black;
$dropdown-link-disabled-color: $gray-500;
$dropdown-header-color: $gray-700;
$dropdown-dark-bg: $gray-700;
$pagination-border-color: $gray-700;
$pagination-hover-bg: $gray-300;
$pagination-hover-border-color: $gray-900;
$pagination-focus-bg: $gray-500;
$pagination-disabled-color: $gray-500;
$pagination-disabled-border-color: $gray-500;
$tooltip-bg: $gray-700;
$toast-header-color: $gray-700;
$alert-border-scale: 20%;
$progress-bg: $gray-300;
$list-group-disabled-color: $gray-500;
$list-group-action-active-bg: $gray-300;
$figure-caption-color: $gray-700;
$breadcrumb-bg: $gray-300;
$breadcrumb-divider-color: $gray-700;
$breadcrumb-active-color: $gray-900;
$code-color: $pink;
$kbd-bg: $gray-700;
$pre-color: $gray-700;

$color-mode-type: media-query;
$light-bg-subtle-dark: $gray-700;
$dark-bg-subtle-dark: $gray-900;
$light-border-subtle-dark: $gray-500;
$dark-border-subtle-dark: $gray-700;
$body-color-dark: $white;
$body-bg-dark: $black;
$body-secondary-color-dark: $gray-300;
$body-secondary-bg-dark: $gray-700;
$body-tertiary-color-dark: $gray-500;
$body-tertiary-bg-dark: $gray-900;
$mark-color-dark: $white;
$mark-bg-dark: #82791f;

$form-check-input-checked-color-dark:          $black;
$form-check-input-checked-bg-color-dark:       tint-color($primary, 40%);
$form-check-input-checked-border-color-dark:   $form-check-input-checked-bg-color-dark;
$form-check-input-checked-bg-image-dark:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$form-check-input-checked-color-dark}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>");
$form-check-radio-checked-bg-image-dark:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{$form-check-input-checked-color-dark}'/></svg>");

$form-check-input-indeterminate-color-dark:          $black;
$form-check-input-indeterminate-bg-color-dark:       tint-color($primary, 40%);
$form-check-input-indeterminate-border-color-dark:   $form-check-input-indeterminate-bg-color-dark;
$form-check-input-indeterminate-bg-image-dark:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$form-check-input-indeterminate-color-dark}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/></svg>");
