$min-contrast-ratio: 2.5;
$color-contrast-dark: $black;
$color-contrast-light: $white;

// scss-docs-start theme-text-variables
$primary-text-emphasis:   shade-color($primary, 40%);
$secondary-text-emphasis: shade-color($secondary, 40%);
$success-text-emphasis:   shade-color($success, 40%);
$info-text-emphasis:      shade-color($info, 40%);
$warning-text-emphasis:   shade-color($warning, 40%);
$danger-text-emphasis:    shade-color($danger, 40%);
$light-text-emphasis:     $gray-500;
$dark-text-emphasis:      $black;
// scss-docs-end theme-text-variables

$light-bg-subtle: $gray-100;
$dark-bg-subtle: $gray-500;
$light-border-subtle: $gray-300;
$dark-border-subtle: $gray-700;
$body-color: $black;
$body-secondary-bg: $gray-300;
$link-decoration: none;
$link-shade-percentage: 20%;
$border-color: $gray-700;
$font-family-sans-serif: "IBM Plex Sans JP", "M PLUS 2", "M PLUS 1", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "Meiryo", "Source Han Sans VF", "Source Han Sans", "MS PGothic", "Osaka", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Verdana", "Ubuntu", "Cantarell", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: "HackGen", "PlemolJP", "UDEV Gothic", "Sarasa Mono J", "M PLUS 1 Code", "Cascadia Next JP", "Source Han Sans HW VF", "Source Han Sans HW", "MS Gothic", "Osaka-Mono", "IPAGothic", monospace;
$font-size-root: 100%;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$text-muted: $gray-700;
$blockquote-footer-color: $gray-500;
$mark-color: $black;
$mark-bg: #f1e580;
$table-border-factor: 0.7;
$btn-link-disabled-color: $gray-700;
$input-color: $primary;
$input-disabled-bg: $gray-300;
$input-border-color: $gray-700;
$input-placeholder-color: $gray-500;
$input-group-addon-color: $black;
$input-group-addon-bg: $gray-300;
$form-select-disabled-color: $gray-500;
$form-select-disabled-bg: $gray-300;
$form-select-indicator-color: $gray-700;
$form-floating-label-disabled-color: $gray-500;
$nav-link-disabled-color: $gray-500;
$nav-tabs-border-color: $gray-700;
$nav-tabs-link-hover-border-color: $gray-500 $gray-500 $nav-tabs-border-color;
$nav-tabs-link-active-bg: $white;
$nav-tabs-link-active-border-color: $gray-700 $gray-700 $nav-tabs-link-active-bg;
$dropdown-divider-bg: $gray-500;
$dropdown-link-color: $black;
$dropdown-link-disabled-color: $gray-500;
$dropdown-header-color: $gray-700;
$dropdown-dark-bg: $gray-700;
$pagination-border-color: $gray-700;
$pagination-hover-bg: $gray-300;
$pagination-hover-border-color: $gray-900;
$pagination-focus-bg: $gray-500;
$pagination-disabled-color: $gray-500;
$pagination-disabled-border-color: $gray-500;
$tooltip-bg: $gray-700;
$toast-header-color: $gray-700;
$alert-border-scale: 20%;
$progress-bg: $gray-300;
$list-group-disabled-color: $gray-500;
$list-group-action-active-bg: $gray-300;
$figure-caption-color: $gray-700;
$breadcrumb-bg: $gray-300;
$breadcrumb-divider-color: $gray-700;
$breadcrumb-active-color: $gray-900;
$code-color: $pink;
$kbd-bg: $gray-700;
$pre-color: $gray-700;

// scss-docs-start theme-text-dark-variables
$primary-text-emphasis-dark:        tint-color($primary, 60%);
$secondary-text-emphasis-dark:      tint-color($secondary, 60%);
$success-text-emphasis-dark:        tint-color($success, 60%);
$info-text-emphasis-dark:           tint-color($info, 60%);
$warning-text-emphasis-dark:        tint-color($warning, 60%);
$danger-text-emphasis-dark:         tint-color($danger, 60%);
$light-text-emphasis-dark:          $gray-100;
$dark-text-emphasis-dark:           $gray-700;
// scss-docs-end theme-text-dark-variables

$light-bg-subtle-dark: $gray-700;
$dark-bg-subtle-dark: $gray-900;
$light-border-subtle-dark: $gray-500;
$dark-border-subtle-dark: $gray-700;
$body-color-dark: $white;
$body-bg-dark: $black;
$body-secondary-color-dark: $gray-300;
$body-secondary-bg-dark: $gray-700;
$body-tertiary-color-dark: $gray-500;
$body-tertiary-bg-dark: $gray-900;
$mark-color-dark: $white;
$mark-bg-dark: #82791f;

$link-color-dark:                  tint-color($primary, 40%);
$btn-box-shadow-dark:              inset 0 1px 0 rgba($black, .15), 0 1px 1px rgba($white, .075);
$btn-link-focus-shadow-rgb-dark:   to-rgb(mix(color-contrast($link-color-dark), $link-color-dark, 15%));

$table-striped-bg-factor-dark:     .05;
$table-active-bg-factor-dark:      .1;
$table-hover-bg-factor-dark:       .075;
$table-border-factor-dark:         .5;

$table-bg-scale-dark:              60%;

// scss-docs-start table-loop
$table-variants-dark: (
  "primary":    shift-color($primary, $table-bg-scale-dark),
  "secondary":  shift-color($secondary, $table-bg-scale-dark),
  "success":    shift-color($success, $table-bg-scale-dark),
  "info":       shift-color($info, $table-bg-scale-dark),
  "warning":    shift-color($warning, $table-bg-scale-dark),
  "danger":     shift-color($danger, $table-bg-scale-dark),
  "light":      $light,
  "dark":       $dark,
);
// scss-docs-end table-loop

$form-check-input-checked-color-dark:          $black;
$form-check-input-checked-bg-color-dark:       tint-color($primary, 40%);
$form-check-input-checked-border-color-dark:   $form-check-input-checked-bg-color-dark;
$form-check-input-checked-bg-image-dark:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$form-check-input-checked-color-dark}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>");
$form-check-radio-checked-bg-image-dark:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{$form-check-input-checked-color-dark}'/></svg>");

$form-check-input-indeterminate-color-dark:          $black;
$form-check-input-indeterminate-bg-color-dark:       tint-color($primary, 40%);
$form-check-input-indeterminate-border-color-dark:   $form-check-input-indeterminate-bg-color-dark;
$form-check-input-indeterminate-bg-image-dark:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$form-check-input-indeterminate-color-dark}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/></svg>");

$form-switch-checked-color-dark:       $black;
$form-switch-checked-bg-image-dark:    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-checked-color-dark}'/></svg>");

$focus-ring-width-dark:                    .25rem;
$focus-ring-opacity-dark:                  .25;
$focus-ring-color-dark:                    rgba(tint-color($primary, 40%), $focus-ring-opacity-dark);
$focus-ring-blur-dark:                     0;
$focus-ring-box-shadow-dark:               0 0 $focus-ring-blur-dark $focus-ring-width-dark $focus-ring-color-dark;
$input-btn-focus-width-dark:               $focus-ring-width-dark;
$input-btn-focus-color-opacity-dark:       $focus-ring-opacity-dark;
$input-btn-focus-blur-dark:                $focus-ring-blur-dark;
$input-btn-focus-box-shadow-dark:          $focus-ring-box-shadow-dark;
$btn-focus-box-shadow-dark:                $input-btn-focus-box-shadow-dark;
$input-focus-width-dark:                   $input-btn-focus-width-dark;
$input-focus-box-shadow-dark:              $input-btn-focus-box-shadow-dark;
$form-range-thumb-focus-box-shadow-dark:   0 0 0 1px $black, $input-focus-box-shadow-dark;
$nav-link-focus-box-shadow-dark:           $focus-ring-box-shadow-dark;
$accordion-button-focus-box-shadow-dark:   $btn-focus-box-shadow-dark;
$pagination-focus-box-shadow-dark:         $focus-ring-box-shadow-dark;
$btn-close-focus-shadow-dark:              $focus-ring-box-shadow-dark;

// Form validation

// scss-docs-start form-feedback-variables
$form-feedback-valid-color-dark:         tint-color($success, 40%);
$form-feedback-invalid-color-dark:       tint-color($danger, 40%);

$form-feedback-icon-valid-color-dark:    $form-feedback-valid-color-dark;
$form-feedback-icon-valid-dark:          url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path fill='#{$form-feedback-icon-valid-color-dark}' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/></svg>");
$form-feedback-icon-invalid-color-dark:  $form-feedback-invalid-color-dark;
$form-feedback-icon-invalid-dark:        url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='#{$form-feedback-icon-invalid-color-dark}'><circle cx='6' cy='6' r='4.5'/><path stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/><circle cx='6' cy='8.2' r='.6' fill='#{$form-feedback-icon-invalid-color-dark}' stroke='none'/></svg>");
// scss-docs-end form-feedback-variables

// scss-docs-start form-validation-colors
$form-valid-color-dark:             $form-feedback-valid-color-dark;
$form-valid-border-color-dark:      $form-feedback-valid-color-dark;
$form-invalid-color-dark:           $form-feedback-invalid-color-dark;
$form-invalid-border-color-dark:    $form-feedback-invalid-color-dark;
// scss-docs-end form-validation-colors

// scss-docs-start form-validation-states
$form-validation-states-dark: (
  "valid": (
    "color": var(--#{$prefix}form-valid-color),
    "icon": $form-feedback-icon-valid-dark,
    "tooltip-color": #fff,
    "tooltip-bg-color": var(--#{$prefix}success),
    "focus-box-shadow": 0 0 $input-btn-focus-blur-dark $input-focus-width-dark rgba(var(--#{$prefix}success-rgb), $input-btn-focus-color-opacity-dark),
    "border-color": var(--#{$prefix}form-valid-border-color),
  ),
  "invalid": (
    "color": var(--#{$prefix}form-invalid-color),
    "icon": $form-feedback-icon-invalid-dark,
    "tooltip-color": #fff,
    "tooltip-bg-color": var(--#{$prefix}danger),
    "focus-box-shadow": 0 0 $input-btn-focus-blur-dark $input-focus-width-dark rgba(var(--#{$prefix}danger-rgb), $input-btn-focus-color-opacity-dark),
    "border-color": var(--#{$prefix}form-invalid-border-color),
  )
);
// scss-docs-end form-validation-states
