$theme: "hanubeki-mint-v5";
$white: #e2f5f3;
$gray-100: #d3e6e5;
$gray-200: #c5d8d7;
$gray-300: #b8cac9;
$gray-400: #aabcbb;
$gray-500: #9dafae;
$gray-600: #829493;
$gray-700: #697a79;
$gray-800: #506261;
$gray-900: #394a49;
$black: #233333;
$blue: #5787be;
$indigo: #6f71b4;
$purple: #9c74b6;
$pink: #c37aa6;
$red: #c16b71;
$orange: #ce7c52;
$yellow: #d9a14c;
$green: #769c56;
$teal: #45adab;
$cyan: #429bba;
$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "black": $black,
  "white": $white,
  "gray": $gray-700,
  "gray-dark": $gray-900,
);
$primary: $teal;
$secondary: $gray-700;
$info: $cyan;
$light: $gray-300;
$dark: $gray-900;
