$theme: "hanubeki-pink-v5";
$white: #ffeedc;
$gray-100: #f5dfc6;
$gray-200: #e6d1b8;
$gray-300: #d8c3ab;
$gray-400: #cab69e;
$gray-500: #bca891;
$gray-600: #a08e78;
$gray-700: #85745f;
$gray-800: #6b5c48;
$gray-900: #534432;
$black: #3b2e1d;
$blue: #5787be;
$indigo: #6f71b4;
$purple: #9c74b6;
$pink: #c37aa6;
$red: #c16b71;
$orange: #ce7c52;
$yellow: #d9a14c;
$green: #769c56;
$teal: #45adab;
$cyan: #429bba;
$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "black": $black,
  "white": $white,
  "gray": $gray-700,
  "gray-dark": $gray-900
);
$primary: $orange;
$secondary: $pink;
$info: $blue;
$light: $gray-300;
$dark: $gray-900;
