@import "banner";
@include hltBanner("");

@import "../../node_modules/bootstrap/scss/mixins/banner";
@include bsBanner("");

$theme: "hanubeki-fruits-dk";
$prefix: hlt-;
$enable-dark-mode: false;

@import "../../node_modules/bootstrap/scss/functions";

@import "palette.hanubeki-fruits";
@import "palette.common";
@import "variables.hanubeki-fruits";
@import "variables.common";
@import "variables.force-dark";

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";

@import "subset";

@import "prefixed";
@import "addition";
@import "addition-dark";
