@import "banner";
@include hltBanner("");

@import "../../node_modules/bootstrap/scss/mixins/banner";
@include bsBanner("");

$enable-dark-mode: false;
$prefix: hlt-;
$theme: "hanubeki-pink-alt-dk";

@import "../../node_modules/bootstrap/scss/functions";

@import "palette.hanubeki-pink";
@import "palette.common";
@import "variables.hanubeki-pink-alt";
@import "variables.common";
@import "variables.force-dark";

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";

@import "subset";

@import "prefixed";
@import "addition";
@import "addition-dark";
