@import "banner";
@include hltBanner("");

@import "../../node_modules/bootstrap/scss/mixins/banner";
@include bsBanner("");

$theme: "hlt-dk";
$prefix: hlt-;
$enable-dark-mode: false;

@import "../../node_modules/bootstrap/scss/functions";

@import "palette.hlt-cold";
@import "palette.common";
@import "variables.hlt-cold";
@import "variables.common";
@import "variables.force-dark";

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";

@import "subset";

@import "mixins";

@import "prefixed";
@import "addition";
@import "addition-dark";

@import "piefed";
@import "piefed-dark";
