@import "banner";
@include hltBanner("");

@import "../../node_modules/bootstrap/scss/mixins/banner";
@include bsBanner("");

$theme: "hlt-pink-alt-light";
$prefix: hlt-;
$enable-dark-mode: false;

@import "../../node_modules/bootstrap/scss/functions";

@import "palette.hlt-pink";
@import "palette.common";
@import "variables.hlt-pink-alt";
@import "variables.common";

@import "../../node_modules/bootstrap/scss/variables";

@import "subset";

@import "mixins";

@import "prefixed";
@import "addition";

@import "piefed";
