.card {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.8) !important;
}

.post-listing {
  margin: 0;
  margin-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
  padding: 1rem;
  padding-bottom: 0.5rem;
}

.comment {
  margin: 0;
  margin-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
  padding: 1rem;
}

.comment > .comments > .comment {
  background: none;
  padding: 0;
  padding-left: 4px;
  margin: 0;
}

.post-listing > .card {
  background: none;
}

.post-listing + hr, .comments + hr {
  display: none;
}

.comment > .details {
  border: none !important;
  padding: 0 !important;
}

.mini-overlay {
  background-color: rgba(255, 255, 255, 0.6);
}
