$white: #ffecf4;
$gray-100: #f5dce8;
$gray-200: #e7ced9;
$gray-300: #d8c0cb;
$gray-400: #cab2be;
$gray-500: #bca5b0;
$gray-600: #a18b96;
$gray-700: #86717c;
$gray-800: #6c5963;
$gray-900: #53424b;
$black: #3c2c35;
$blue: #5787be;
$indigo: #6f71b4;
$purple: #9c74b6;
$pink: #c37aa6;
$red: #c16b71;
$orange: #ce7c52;
$yellow: #d9a14c;
$green: #769c56;
$teal: #45adab;
$cyan: #429bba;
$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "black": $black,
  "white": $white,
  "gray": $gray-700,
  "gray-dark": $gray-900
);
$primary: $pink;
$secondary: $gray-700;
$info: $indigo;
$light: $gray-300;
$dark: $gray-900;
$yiq-contrasted-threshold: 180;
$body-color: $black;
$border-color: $gray-700;
$font-family-sans-serif: "M PLUS 2", "M PLUS 1", "BIZ UDPGothic", "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "Meiryo", "Source Han Sans", "MS PGothic", "Osaka", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: "HackGen", "PlemolJP", "UDEV Gothic", "Sarasa Mono J", "BIZ UDGothic", "Source Han Sans HW", "MS Gothic", "Osaka-Mono", "IPAGothic", monospace;
$text-muted: $gray-700;
$blockquote-small-color: $gray-500;
$mark-bg: #f1e580;
$table-head-bg: $gray-300;
$table-dark-bg: $gray-700;
$table-border-level: 3;
$btn-link-disabled-color: $gray-700;
$input-color: $primary;
$input-disabled-bg: $gray-300;
$input-border-color: $gray-700;
$input-placeholder-color: $gray-500;
$input-group-addon-bg: $gray-300;
$custom-control-indicator-border-color: $gray-700;
$custom-control-label-disabled-color: $gray-500;
$custom-select-disabled-color: $gray-500;
$custom-select-disabled-bg: $gray-300;
$custom-select-indicator-color: $gray-700;
$nav-link-disabled-color: $gray-500;
$nav-tabs-border-color: $gray-700;
$nav-tabs-link-hover-border-color: $gray-500 $gray-500 $nav-tabs-border-color;
$nav-tabs-link-active-bg: $white;
$nav-tabs-link-active-border-color: $gray-700 $gray-700 $nav-tabs-link-active-bg;
$nav-divider-color: $gray-700;
$dropdown-divider-bg: $gray-700;
$dropdown-link-color: $black;
$dropdown-link-disabled-color: $gray-500;
$dropdown-header-color: $gray-700;
$pagination-border-color: $gray-700;
$pagination-hover-bg: $gray-300;
$pagination-hover-border-color: $gray-900;
$pagination-disabled-color: $gray-500;
$pagination-disabled-border-color: $gray-500;
$jumbotron-bg: $gray-100;
$tooltip-bg: $gray-700;
$toast-header-color: $gray-700;
$alert-border-level: 3;
$progress-bg: $gray-300;
$list-group-disabled-color: $gray-500;
$list-group-action-active-bg: $gray-300;
$figure-caption-color: $gray-700;
$breadcrumb-bg: $gray-300;
$breadcrumb-divider-color: $gray-700;
$breadcrumb-active-color: $gray-900;
$kbd-bg: $gray-700;
$pre-color: $gray-700;