$white: #ffecf4;
$gray-100: #f5dce8;
$gray-200: #e7ced9;
$gray-300: #d8c0cb;
$gray-400: #cab2be;
$gray-500: #bca5b0;
$gray-600: #a18b96;
$gray-700: #86717c;
$gray-800: #6c5963;
$gray-900: #53424b;
$black: #3c2c35;
$blue: #5787be;
$indigo: #6f71b4;
$purple: #9c74b6;
$pink: #c37aa6;
$red: #c16b71;
$orange: #ce7c52;
$yellow: #d9a14c;
$green: #769c56;
$teal: #45adab;
$cyan: #429bba;
$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "black": $black,
  "white": $white,
  "gray": $gray-700,
  "gray-dark": $gray-900
);
$primary: $pink;
$secondary: $gray-700;
$info: $indigo;
$light: $gray-300;
$dark: $gray-900;
