$white: #ebf1fd;
$gray-100: #dde3ee;
$gray-200: #cfd5e0;
$gray-300: #c1c7d2;
$gray-400: #b3b9c4;
$gray-500: #a6abb6;
$gray-600: #8b919c;
$gray-700: #717782;
$gray-800: #595f68;
$gray-900: #414750;
$black: #2b313a;
$blue: #5787be;
$indigo: #6f71b4;
$purple: #9c74b6;
$pink: #c37aa6;
$red: #c16b71;
$orange: #ce7c52;
$yellow: #d9a14c;
$green: #769c56;
$teal: #45adab;
$cyan: #429bba;
$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "black": $black,
  "white": $white,
  "gray": $gray-700,
  "gray-dark": $gray-900
);
$primary: $cyan;
$secondary: $gray-700;
$info: $blue;
$light: $gray-300;
$dark: $gray-900;
